*.pyc
*.py#
*.msh
*.geo
*.exe
*.swp
*.py~
*.un~
*.pos
*.vtu
*.pvd
*.vrml
*.csv
*~
*.swo
*.mtx
*.gz
*.m
*.fab
*.mat
*.o
*.py_o
*.so
*.coverage
.cache/*
bin/*
*.pvd
*.so
*.ipynb_checkpoints*
*.eps
*.pdf
*.DS_Store
